<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>秒杀商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seckill.css}"/>
</head>
<body>

<header class="seckill-header">
    <div class="logo"><i>&#9879;</i> 秒杀</div>
    <div class="user-info">
        <span class="nickname" th:if="${user != null}" th:text="${user.nickname}"></span>
        <a th:if="${user == null}" href="/login/to_login">请登录</a>
    </div>
</header>

<div class="seckill-banner">
    <div class="title"><span class="icon-flash">&#9889;</span> 限时秒杀</div>
    <div class="subtitle">全场超低价，手慢无！</div>
</div>

<div class="seckill-container">
    <div class="seckill-card-row">
        <div class="seckill-card" th:each="goods : ${goodsList}">
            <a th:href="'/goods_detail.htm?goodsId=' + ${goods.id}">
                <img class="card-img" th:src="@{${goods.goodsImg}}" th:alt="${goods.goodsName}"/>
            </a>
            <div class="card-body">
                <div class="card-title" th:text="${goods.goodsName}"></div>
                <div class="card-price">
                    <span class="seckill-price">
                        <span class="unit">￥</span><span th:text="${goods.seckillPrice}"></span>
                    </span>
                    <span class="origin-price" th:text="'￥' + ${goods.goodsPrice}"></span>
                </div>
                <div class="card-stock">
                    <div class="stock-label" th:text="'剩余 ' + ${goods.stockCount} + ' 件'"></div>
                </div>
                <a th:href="'/goods_detail.htm?goodsId=' + ${goods.id}" class="btn btn-seckill">立即秒杀</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
