<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>订单详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/jquery-validation/localization/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layer.js}"></script>
    <script type="text/javascript" th:src="@{/js/md5.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/seckill.css}"/>
</head>
<body>

<header class="seckill-header">
    <div class="logo"><a href="/goods/to_list" style="color:#fff;">&#9879; 秒杀</a></div>
</header>

<div class="order-container">
    <div class="order-success-header">
        <div class="check-icon">&#10003;</div>
        <h3>恭喜你，秒杀成功！</h3>
    </div>

    <div class="order-card">
        <div class="order-row">
            <span class="label">商品名称</span>
            <span class="value" th:text="${goods.goodsName}"></span>
        </div>
        <div class="order-row">
            <span class="label">商品图片</span>
            <span class="value"><img th:src="@{${goods.goodsImg}}" width="80" height="80"/></span>
        </div>
        <div class="order-row">
            <span class="label">订单价格</span>
            <span class="value" style="color:#c91623;font-weight:bold;" th:text="'￥' + ${orderInfo.goodsPrice}"></span>
        </div>
        <div class="order-row">
            <span class="label">下单时间</span>
            <span class="value" th:text="${#dates.format(orderInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div class="order-row">
            <span class="label">订单状态</span>
            <span class="value">
                <span th:if="${orderInfo.status eq 0}" style="color:#e1251b;">未支付</span>
                <span th:if="${orderInfo.status eq 1}" style="color:#ff9900;">待发货</span>
                <span th:if="${orderInfo.status eq 2}">已发货</span>
                <span th:if="${orderInfo.status eq 3}">已收货</span>
                <span th:if="${orderInfo.status eq 4}" style="color:#999;">已退款</span>
                <span th:if="${orderInfo.status eq 5}">已完成</span>
            </span>
        </div>
        <div class="order-row">
            <span class="label">收货人</span>
            <span class="value">延宇振 18812151525</span>
        </div>
        <div class="order-row">
            <span class="label">收货地址</span>
            <span class="value">广东省广州市</span>
        </div>
        <div style="text-align:center;">
            <button class="btn-pay" type="submit" id="payButton">立即支付</button>
        </div>
    </div>
</div>

</body>
</html>
